.mainLogo img {
    display: inline-block;
    height: 70px;
    width: 100px;
    border-radius: 50%;
    border-color: #ffffff;
}

.name {
    text-align: center;
}

.title {
    font-size: 50px;
    font-style: italic;
    display: inline-block;
    text-align: center;
    color: #CBBDBD;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.navbar-inverse {
    background-color: #222;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
    border-radius: 0;
}

.navbar-fixed-bottom,
.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}



/*-------------------------------------------------------footer*/

footer {
    background-color: #000000;
    color: #CBBDBD;
    min-height: 120px;
    margin: 0;
}


#footer-details {
    margin: 20px;
    text-align: center
}


/*--------------------------------------------------------------section*/

.boom {
    padding-bottom: 20px;
    min-height: 360px;
    text-align: center;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;

}

#whitebackground {
    background-color: #DFD5D5;
    width: 600px;
    text-align: center;
    border-radius: 25px;

}

#whitebackground-events {
    background-color: #DFD5D5;
    text-align: center;
    border-radius: 25px;
}



/*---------------------------------------------info/history*/

.history {
    text-align: left;
    color: #A9A9A9;
}

.lorum-text {
    text-align: left;
    font-size: 17px;
    font-weight: 300;

}

/*-------------------------------------personal info*/

.section-heading {
    color: white;
}

.personal-info-item1 {
    position: relative;
    display: block;
    width: 700px;
    height: 300px;
    padding-top: 10px;
    margin: 20px auto;
    border-radius: 25px;
    border: solid 3px black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.personal-info-item2 {
    position: relative;
    display: block;
    width: 700px;
    height: 300px;
    padding-top: 10px;
    margin: 20px auto;
    border-radius: 25px;
    border: solid 3px black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.personal-info-item3 {
    position: relative;
    display: block;
    width: 700px;
    height: 300px;
    padding-top: 10px;
    margin: 20px auto;
    border-radius: 25px;
    border: solid 3px black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.personal-info-item4 {
    position: relative;
    display: block;
    width: 700px;
    height: 300px;
    padding-top: 10px;
    margin: 20px auto;
    border-radius: 25px;
    border: solid 3px black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.personal-info-item5 {
    position: relative;
    display: block;
    width: 700px;
    height: 300px;
    padding-top: 10px;
    margin: 20px auto;
    border-radius: 25px;
    border: solid 3px black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.personal-info-item6 {
    position: relative;
    display: block;
    width: 700px;
    height: 300px;
    padding-top: 10px;
    margin: 20px auto;
    border-radius: 25px;
    border: solid 3px black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.personal-info-item .key,
.personal-info-item .value {
    padding-right: 8px;
}

.key p,
.value p {
    font-size: 22px;
    margin: 0;
    font-weight: 700;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.key {
    display: inline-block;
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
}



.value {
    display: inline-block;
    position: relative;
    width: 60%;
}

/*--------------------------------------------sticky footer*/

html,
body {
    height: 100%;
    margin: 0;
    background-color: #000000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1440px 900px;
}

.wrapper {
    min-height: 100%;

    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
}

.footer,
.push {
    height: 50px;
}

.btn {
    background-color: #e67e22;
}

.merchandise {
    display: inline-block;
    height: 200px;
    width: 200px;
}

.merchandise-row {
    padding-top: 20px;
    text-align: center;
}

.merchandise-row img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.form-group {
    padding-top: 20px;
    font-size: 20px;
}

.index-page {
    text-align: center;
    padding-top: 100px;
    font-weight: 900;
    color: #CBBDBD;
}

/*-------------------------------------------------------------navbar*/

.clearfix:after {
    content: "";
    display: table;
    text-align: left;
}


.nav-wrapper {
    width: 100%;
    background: #000000;
}


.nav-menu {
    padding-top: 40px;
    display: inline-block;
}

.nav-menu a {
    color: #CBBDBD;
}

.nav-menu a:hover {
    color: #e84610;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.nav-menu li {
    width: 200px;
    list-style-type: none;
    font-size: 30px;
}

.sub-menu {
    position: absolute;
    display: none;
    background: #000000;
}

.nav-menu ul li:hover>ul {
    display: block;
    line-height: 60px;
    word-spacing: 5px;
    z-index: 9999;
}

.nav-menu>ul>li:after {
    content: "\25BC";
    /*escaped unicode for the down arrow*/
    font-size: .5em;
    display: inline;
    position: relative;
    z-index: 9998;
}

section2 {
    text-align: center;
}