
.heading {
  text-align: center;
}

.name{
    background-color: #ffffff;
    padding-top: 20px;
    font-weight: bold;
    color: #4f4f4f;
}

.title{
    background-color: #ffffff;
    font-weight: bold;
    color: #4f4f4f;
}

.navbar-inverse {
  background-color: #222;
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
  border-radius: 0;
}

.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.menueitem span{
    display: block;
    width: 100%;
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
  
}

.menueitem a{
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height:120px;
}

.ui-menue-color-home{
    background-color: #a9a9a9;
}

.ui-menue-color-resume{
    background-color: #696969;
}

.ui-menue-color-contact{
    background-color: #525252;
}

.ui-menue-color-download{
    background-color: #000000;
}

.i, fa{
    display: inline-block;
    width: 100%;
    text-align:center;
}

.menueitem span:hover{
     -webkit-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
    

/*-------------------------------------------------------footer*/

footer{
    background-color: #4f4f4f;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

footer .cv-pdf i{
    color: #fafafa;
    text-align: center;
    font-size: 18px;
    padding-left: 5px;
    
}

footer .cv-pdf i:hover{
    color:#e84610;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.social-links{
    padding-bottom: 15px;
    
}

.social-links li a i{
    width:32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size:13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    
    
}

.social-links li a i:hover{
    background: #e84610;
}

#footer-details{
    margin: 20px;
}


/*--------------------------------------------------------------section*/

.boom {
    padding-bottom: 20px;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    
   
    
}


.logo {
    background-image: url("/assets/images/rockband.jpg");
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -10px;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}
/*---------------------------------------------info/history*/

.history{
    text-align:left;
    color: #A9A9A9;
}

.lorum-text{
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    
}

/*-------------------------------------personal info*/

.personal-info-item{
    display: block;
    clear: both;
    padding-top: 20px;
    line-height: 60px;
    font-size: 20px;
}



.personal-info-item .key,
.personal-info-item .value {
    padding-right:8px;
}

.personal-info-item .key p,
.personal-info-item .value p {
    margin: 0;
}

.personal-info-item .key {
    display:inline-block;
    width:30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
}

.personal-info-item .key p {
    font-weight: 700;
}

.personal-info-item .value {
    display:inline-block;
    position:relative;
    width:60%;
}
/*--------------------------------------------sticky footer*/


html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}
.footer,
.push {
  height: 50px;
}

.btn{
    background-color: #e67e22;
}

.merchandise{
    display: inline-block;
    height:200px;
    width: 200px;
}

.merchandise-row{
    padding-top: 20px;
    text-align: center;
}

.merchandise-row img:hover{
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.form-group{
    padding-top: 20px;
    font-size: 20px;
}